{% extends "Journaling/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text ml-4 mt-2 text-dark">Task's Details</h1>
  <div class="card text-center mt-2">
    <div class="card-header text-primary">
      <h3>{{ object.title.title }}</h3>
    </div>
  <div class="card-body">
    <h5 class="card-title">Starts on: {{ object.starting_time }}</h5>
    {% if object.completed == False  %}
      <h5 class="card-text">Completed? No </h5>
    {% else %}
      <h5 class="card-text">Completed? Yes </h5>
    {% endif %}
  </div>
  <div class="card-footer text-body-secondary">
    <a href="{% url 'update_todo' object.pk %}" class="btn btn-primary mt-4">Update Task</a>
    <a href="{% url 'todos' %}" class="btn btn-secondary mt-4 " >Go, Back</a>
    <a href="{% url 'delete_todo' object.pk %}" class="btn btn-danger mt-4">Delete Task</a>
  </div>
</div>
{% endblock content %}