{% extends "Journaling/base.html" %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="card text-center">
          <div class="card-header text-primary">
              <h3>Change Task Details</h3>
          </div>
          <div class="card-body">
            <h4 class="card-title">Title: {{ form.task_title }}</h4>
              <h4 class="card-title">Time: {{ form.set_time }}</h4>
              <h4 class="card-title">Completed? {{ form.completed }}</h4>
          </div>
          <div class="card-footer text-body-secondary">
          <input class="btn btn-primary btn-lg" type="submit" value="Save, changes">
              <a href="{%  url 'todos'%}" class="btn btn-secondary btn-lg" type="submit">Go, Back</a>
          </div>
        </div>
    </form>
{% endblock content %}