{% extends "Journaling/base.html" %}
{% block content %}
<h1 class="text ml-4 mt-2">Delete an Accomplishment</h1>
    <form method="post">
        {% csrf_token %}
        <div class="card text-center">
          <div class="card-header text-danger">
              <h3>Warning Message</h3>
          </div>
          <div class="card-body">
            <h3 class="card-title">Are you sure you want to delete "{{ object.program_title}}"?</h3>
            <input class="btn btn-danger" type="submit" value="Yes, Delete">
          </div>
          <div class="card-footer text-body-secondary">
            <a class="btn btn-primary" href="{% url 'done'  %}">NO, Cancel</a>
          </div>
        </div>
    </form>
{% endblock content %}