{% extends "Journaling/base.html" %}
{% block content %}
<h1>
    <h1 class="text ml-4 mb-3">Accomplishments</h1>
</h1>
{% if accomplished_goal %}
    {% for item in accomplished_goal %}
        <div class="card text-center mb-5 shadow bg-light">
          <div class="card-header text-primary">
              <h3>🎉 Congratulations on Completing {{item.program_title|title}} Goal 🎉</h3>
          </div>
          <div class="card-body">
            <h6 class="card-title">Started on {{item.start_day}} and completed on {{item.end_day|date}}</h6>
              {% if item.summary %}
                <p class="card-text">{{item.summary}}</p>
              {% else %}
                <h6 class="card-text mt-3">You Can Always Add What You've Learned, Reflections, Or Thoughts...📝  </h6>
              {% endif%}
          </div>
          <div class="card-footer text-body-secondary">
            <a class="btn btn-primary" href="{% url 'done_update' item.pk %}">Add a Reflection</a>
            <a class="btn btn-danger" href="{% url 'done_delete' item.pk %}">Delete</a>
          </div>
        </div>
    {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
    <div class="card text-center">
          <div class="card-header text-primary">
              <h3>Accomplished Goals</h3>
          </div>
          <div class="card-body">
            <hp class="card-title">
                <p>No programs have been accomplished yet.</p>
                <p>Keep up the good work!</p>
            </hp>

          </div>
          <div class="card-footer text-body-secondary">
              <a href="{% url 'profile' %}" class="btn btn-secondary">Go, Back</a>
          </div>
        </div>
{%endif  %}
{% endblock content %}


