{% extends "Journaling/base.html" %}
{% block content %}
<h1>
    <h1 class="text ml-4 mb-3">Accomplishments</h1>
</h1>
{% if accomplished_goal %}
    {% for item in accomplished_goal %}
        <div class="card text-center mb-5 shadow bg-light">
          <div class="card-header text-primary">
              <h3>🎉 Congratulations on completing {{item.program_title|title}} goal 🎉</h3>
          </div>
          <div class="card-body">
            <h6 class="card-title">Started on {{item.start_day}} and completed on {{item.end_day|date}}</h6>
            <p class="card-text">{{item.summary}}</p>
          </div>
          <div class="card-footer text-body-secondary">
            <a class="btn btn-primary" href="{% url 'done_update' item.pk %}">Add a Reflection</a>
            <a class="btn btn-danger" href="{% url 'done_delete' item.pk %}">Delete</a>
          </div>
        </div>
    {% endfor %}
{% else %}
    <div class="card text-center">
          <div class="card-header text-primary">
              <h3>Accomplished Programs</h3>
          </div>
          <div class="card-body">
            <hp class="card-title">
                <p>No programs have been accomplished yet.</p>
                <p>Keep up the good work!</p>
            </hp>

          </div>
          <div class="card-footer text-body-secondary">
              <a href="{% url 'profile' %}" class="btn btn-secondary">Go, Back</a>
          </div>
        </div>
{%endif  %}
{% endblock content %}


