{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<h1 class="text-lg lg:text-xl xl:text-2xl w-full
 overflow-hidden text-ellipsis
 whitespace-nowrap mt-5 mb-5" style="margin-left: 10px">
    <span class="pl-3 lg:pl-0 sm:pl-0">Journal</span>&nbsp;
    <span class="font-semibold">History</span>
</h1>

<div class="row">
    <div class="col mt-8">
        {% if posts %}
            {% for post in posts %}
                <div class="card mt-2 mb-5 text-center shadow bg-light">
                    <div class="card-header text-center text-secondary">
                        <h4>Posted: {{ post.journal_date|date }}</h4>
                    </div>
                    <div class="card-body">
                        <h4>{{ post.title|title }}</h4>
                        <p class="card-text text-justify" style="text-align: justify">{{ post.content }}</p>
                    </div>
                    <div>
                        {{ post.mood }}
                    </div>
                    <div class="card-footer text-body-secondary">
                        <a href="{% url 'journal_update' post.id %}" class="btn btn-success">Edit Diary</a>
                        <a href="{% url 'journal_delete' post.id %}" class="btn btn-danger">Delete Diary</a>
                    </div>
                </div>
            {% endfor %}
        <div class="pagination mt-4">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <h3><a href="?page={{ page_obj.next_page_number }}">next</a></h3>
                    <h3><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></h3>
                {% endif %}
            </span>
        </div>
        {% else %}
            <div style="background: white" class="container mt-5">
                <p>"Nothing to display."</p>
            </div>
        {% endif %}
        <div class="text-center mt-3"></div>
    </div>

    <div class="col-4">
      <div class="card" style="height: 15rem;">
          <img src="{% static 'users/journal_history.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="col mt-5">
        <div class="col text-center">
            <form method="post">
                {% csrf_token %}
            </form>
            <div class="card text-center mt-3 shadow bg-light">
                <div class="card-header text-secondary">
                    <h4>Diary Search </h4>
                </div>
                <div class="card-body">
                    <form method="GET" action="{% url 'journal' %}">
                        {{ SearchForm|crispy }}
                        <div class="card-footer text-body-secondary">
                            <input class="btn btn-success" type="submit" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
            <ul class="list-group list-group-flush mt-5">
                <a class="btn btn-dark btn-sm mt-1 mb-2" href="{% url 'profile' %}">Dashboard</a>
                <a class="btn btn-dark btn-sm mt-1 mb-2" href="{% url 'journal' %}" >All Journals</a>
                <a class="btn btn-dark btn-sm mt-1 mb-2" href="{% url 'mood' %}">Mood Tracker</a>
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button class="btn btn-dark btn-sm mt-1 mb-2" style="width: 316px" type="submit">Sign out</button>
                </form>
            </ul>
          </div>
      </div>
    </div>
</div>
{% endblock content %}
