{% extends "Journaling/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col mt-3">
        <h3 class="text-center">{{ user.username.title }}'s Diary</h3>
        <hr>
        {% if posts %}
            {% for post in posts %}
                <div class="card text-center mt-3">
                    <div class="card-header text-primary">
                        <h4>Posted on: {{ post.journal_date|date }}</h4>
                    </div>
                    <div class="card-body">
                        <h4>{{ post.title|title }}</h4>
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                    <div>
                        {{ post.mood }}
                    </div>
                    <div class="card-footer text-body-secondary">
                        <a href="{% url 'journal_update' post.id %}" class="btn btn-primary">Edit Diary</a>
                        <span><a href="{% url 'journal_delete' post.id %}" class="btn btn-danger">Delete Diary</a></span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div style="background: white" class="container mt-5">
                <p>"No journal entries found."</p>
                <p>Begin writing your thoughts and experiences to create your personal diary.</p>
            </div>
        {% endif %}
        <div class="text-center mt-3"></div>
    </div>

    <div class="col mt-5">
        <div class="col text-center">
            <form method="post">
                {% csrf_token %}
                <div class="card text-center mt-3">
                    <div class="card-header text-primary">
                        <h3>Journaling Here</h3>
                    </div>
                    <div class="card-body">
                        {{ form|crispy }}
                    </div>
                    <div class="card-footer text-body-secondary">
                        <input class="btn btn-primary btn-lg" type="submit">
                    </div>
                </div>
            </form>
            <div class="card text-center mt-3">
                <div class="card-header text-primary">
                    <h4>Search a Journal</h4>
                </div>
                <div class="card-body">
                    <form method="get" action="{% url 'journal' %}">
                        {{ SearchForm|crispy }}
                        <div class="card-footer text-body-secondary">
                            <input class="btn btn-primary" type="submit" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
