{% extends "Journaling/base.html" %}
{% block content %}
<h1 class="text ml-4 mt-2">Delete a Goal</h1>
    <form method="post">
        {% csrf_token %}
        <div class="card text-center">
          <div class="card-header text-danger">
              <h2>Warning Message</h2>
          </div>
          <div class="card-body">
            <h3 class="card-title">Are you sure you want to delete "{{ object.title|title}}"?</h3>
            <h3 class="card-text">The related tasks will be removed</h3>
            <input class="btn btn-danger" type="submit" value="Confirm">
          </div>
          <div class="card-footer text-body-secondary">
            <a class="btn btn-primary" href="{% url 'list_endeavor' %}">NO, Cancel</a>
          </div>
        </div>
    </form>
{% endblock content %}