{% extends "Journaling/base.html" %}
{% block content %}
<h1 class="text ml-4 mt-2">Goal's Detail</h1>
<div class="card text-center mt-2">
   <div class="card-header text-primary">
       <h3>Tasks to {{endeavor.title}}</h3>
   </div>
   <div class="card-body">
       {% if tasks %}
           {% for task in tasks %}
                <a class="btn btn-dark btn-lg" href="{% url 'detail_todo' task.id %}">
                    <h5 class="card-title">{{task|title}}</h5>
                </a>
           {% endfor %}
       {% else %}
           <h5 class="card-text"><p>No task yet!</p></h5>
       {% endif %}
   </div>
   <div class="card-footer text-body-secondary">
     <a href="{% url 'delete_endeavor' object.pk %}" class="btn btn-danger">Delete Goal</a>
     <a class="btn btn-primary" href="{% url 'list_endeavor' %}">Go, Back</a>
   </div>
 </div>
{% endblock content %}