{% extends "Journaling/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="card text-center">
      <div class="card-header">
          <h3>Create a new program</h3>
      </div>
      <div class="card-body">
        {{ program_form|crispy }}
        {{ task_form|crispy }}
        <input class="btn btn-primary" type="submit" value="Save Program">
      </div>
      <div class="card-footer text-body-secondary">
        <a class="btn btn-secondary" href="{% url 'list_endeavor' %}">Go, Back</a>
      </div>
    </div>

</form>
{% endblock  %}