{% extends "Journaling/base.html" %}

{% block content %}
<div class="card text-center shadow-lg bg-light">
  <div class="card-header mt-2">
    <h3 class="text-primary">A goal with the name {{prog_form.title}} exists alright!</h3>
  </div>
  <div class="card-body">
    <h4 class="card-text">Please finish the existing goal, or create a new goal with a different title</h4>
    <a href="{% url 'list_endeavor' %}" class="btn btn-secondary mt-2">Go, Back</a>
  </div>
  <div class="card-footer text-body-secondary">
    <a href="{% url 'create_endeavor' %}" class="btn btn-primary">New, Goal</a>
  </div>
</div>
{% endblock content %}
