{% extends "Journaling/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text ml-4 mt-2">Endeavors</h1>
    {% if goals %}
        <div class="card text-center text-primary mt-2">
          <div class="card-header">
              <h3>Your Journey to Greatness Begins Here</h3>
          </div>
          <div class="card-body">
          {%  for goal in goals  %}
            <a href="{% url 'detail_endeavor' goal.id %}" class="btn btn-outline-dark btn-lg">{{ goal.program_title }}</a>
          {% endfor %}
          </div>
          <div class="card-footer text-body-secondary">

    <div class="text-center mt-4">
        <a href="{% url 'create_endeavor' %}" class="btn btn-primary btn-lg">Add a program</a>
    </div>
    {% else %}
        <div class="card text-center">
          <div class="card-header">
              <h4>List of Endeavors is empty</h4>
          </div>
          <div class="card-body">
            <h3> Add a new program?</h3>
          </div>
          <div class="card-footer text-body-secondary">
            <a href="{% url 'create_endeavor' %}" class="btn btn-primary mt-4">Yes, Add</a>
          </div>
        </div>
    {% endif %}

{% endblock content %}