{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center align-items-center 100vh">
    <div class="card" style="width: 18rem">
        <img src="{% static 'users/login.png' %}">

        <div class="card-body">
            <div class="container">
<!--                 Showing one-time-alert message -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                      <button class="btn btn-secondary" type="submit">Sign in</button>
                    </div>

                </form>

                <!-- registration link-->
                <div class="d-grid gap-2">
                  <a class="btn btn-primary mt-2" href="{% url 'register' %}">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
