{% extends "users/base.html" %}
{% block content %}
<div class="card text-center mt-5 shadow-lg bg-light">
    <div class="card-header text-primary">
        <h3>Logged out successfully</h3>
    </div>
    <div class="card-body">
      <h4 class="card-text">
          <p>"See you again soon!</p>
          <p>Stay inspired and keep journaling."</p>
      </h4>
    </div>
    <div class="card-footer text-body-secondary">
      <a class="btn btn-primary" href="{% url 'login' %}"><h3>Sign in</h3></a>
    </div>
</div>
{% endblock content %}


