{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <div class="card text-center mt-5">
              <div class="card-header text-primary">
                  <h3>Create an Account</h3>
              </div>
              <div class="card-body">
                <h5 class="card-text">{{ form|crispy }}</h5>
              </div>
              <div class="card-footer text-body-secondary">
                  <button type="submit" class="btn btn-primary btn-lg">Register</button>
              </div>
            </div>
        </form>
    </div>
</div>
{%endblock%}