#journaling {
    height: 250px;
    width: 500px;
    border: 5px solid black;

}
#data_visualization {
    height: 250px;
    width: 500px;
    border: 5px solid black;
    margin-right: 5px;
}
#mymood {
    height: 220px;
    width: 500px;
    border: 5px solid black;
    margin-top: 10px;
    margin-right: 5px;
}
#endeavors {
    height: 220px;
    width: 500px;
    border: 5px solid black;
    margin-top: 10px;
    margin-right: 5px;
}
#to_do {
    height: 220px;
    width: 500px;
    border: 5px solid black;
    margin-top: 10px;
    margin-right: 5px;
}
#accomplished {
    height: 220px;
    width: 500px;
    border: 5px solid black;
    margin-top: 10px
}
#form {
    border: none;
    background-color:lightgrey;

}