#journaling {
    height: 250px;
    /*width: 500px;*/
    border: 5px black;
    margin-left: 20px;
    margin-bottom: 20px;


}
#data_visualization {
    height: 250px;
    /*width: 500px;*/
    border: 5px black;
    margin-right: 20px;

}
#mymood {
    height: 220px;
    width: 500px;
    border: 5px black;
    margin-top: 10px;
    margin-right: 40px;

}
#endeavors {
    height: 220px;
    width: 500px;
    border: 5px black;
    margin-top: 10px;
    margin-right: 40px;

}
#to_do {
    height: 220px;
    width: 500px;
    border: 5px black;
    margin-top: 10px;
    margin-right: 40px;

}
#accomplished {
    height: 220px;
    width: 500px;
    border: 5px black;
    margin-top: 10px;

}
#form {
    border: none;
    background: #EEEEEE;

}
.section-card{
    background: grey;
    border-radius:25px;


}
.asteriskField {
    display: none;
}