{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-lg lg:text-xl xl:text-2xl w-full
 overflow-hidden text-ellipsis
 whitespace-nowrap mt-5 mb-5" style="margin-left: 10px">
    <span class="pl-3 lg:pl-0 sm:pl-0">Current,</span>&nbsp;
    <span class="font-semibold">Mood</span>
</h1>
  <div class="row">
    <div class="col-8">
        <div class="card text-center mb-5 mt-1 shadow bg-light">
            <div class="card-body">
                {{pie|safe}}
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="height: 15rem;">
            <img src="{% static 'users/mood_history.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title text-center mt-3 mb-3">The Quote</h3>
                <p class="card-text text-justify" style="text-align: justify">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                </p>
                <ul class="list-group list-group-flush">
                    <a class="btn btn-dark btn-sm mt-1 mb-2" href="{% url 'profile' %}">Dashboard</a>
                    <a class="btn btn-dark btn-sm mt-1 mb-2" href="{% url 'journal' %}">All Journals</a>
                    <a class="btn btn-dark btn-sm mt-1 mb-2" href="{% url 'mood' %}">Mood Tracker</a>
                    <form method="post" action="{% url 'logout' %}" class="d-grid gap-2">
                      {% csrf_token %}
                      <button class="btn btn-dark btn-sm mt-1 mb-2" type="submit">Sign out</button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>

<h1 class="text-lg lg:text-xl xl:text-2xl w-full
 overflow-hidden text-ellipsis
 whitespace-nowrap mb-5" style="margin-left: 10px">
    <span class="pl-3 lg:pl-0 sm:pl-0">Mood,</span>&nbsp;
    <span class="font-semibold">History</span>
</h1>

<div class="row">
    <div class="col-8">
        <div class="card text-center mb-5 mt-1 shadow bg-light">
            <div class="card-body">
                {{barchart|safe}}
            </div>
        </div>
    </div>
<div/>


{% endblock content %}