{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-lg lg:text-xl xl:text-2xl w-full
 overflow-hidden text-ellipsis
 whitespace-nowrap mt-5 mb-5" style="margin-left: 10px">
    <span class="pl-3 lg:pl-0 sm:pl-0">{{month_str}}</span>&nbsp;
    <span class="font-semibold">Mood</span>
</h1>
  <div class="row">
    <div class="col-8">
        <div class="card text-center mb-5 mt-1 shadow bg-light">
            <div class="card-body">
                {{pie|safe}}
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="height: 15rem;">
            <img src="{% static 'users/mood_history.png' %}" class="card-img-top" alt="...">

<!--            habit tracker-->
            <div class="card text-center mt-4">
              <div class="card-header text-secondary">
                    <h4>Journaling Habit</h4>
              </div>
              <div class="card-body">
                <div>
                        {% if journaling_percentage < 20 %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                             aria-valuenow="{{ journaling_percentage }}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ journaling_percentage }}%;">
                            {{ journaling_percentage }}%
                        </div>
                    </div>

                    {% elif journaling_percentage >= 20 and journaling_percentage < 40 %}

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                             aria-valuenow="{{ journaling_percentage }}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ journaling_percentage }}%;">
                            {{ journaling_percentage }}%
                        </div>
                    </div>

                    {% elif journaling_percentage >= 40 and journaling_percentage < 60 %}

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                             aria-valuenow="{{ journaling_percentage }}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ journaling_percentage }}%;">
                            {{ journaling_percentage }}%
                        </div>
                    </div>

                    {% elif journaling_percentage >= 60 and journaling_percentage < 80 %}

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             aria-valuenow="{{ journaling_percentage }}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ journaling_percentage }}%;">
                            {{ journaling_percentage }}%
                        </div>
                    </div>

                    {% elif journaling_percentage >= 80 and journaling_percentage <= 100 %}

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                             aria-valuenow="{{ journaling_percentage }}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ journaling_percentage }}%;">
                            {{ journaling_percentage }}%
                        </div>
                    </div>

                    {% endif %}
                    </div>
              </div>
              <div class="card-footer text-body-secondary">
                  {% if days_diff == 0 %}
                    Last seen today 🚀
                  {% elif days_diff == 1 %}
                    Last seen yesterday 🦾
                  {% elif days_diff > 1 %}
                    Last seen {{ days_diff }} days ago 🛸
                  {% else %}
                    This is your first visit! 🌱
                  {% endif %}
              </div>
          </div>
            <div class="card-body">
                <h3 class="card-title text-center mt-3 mb-3">The Quote</h3>
                <p class="card-text text-justify" style="text-align: justify">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                </p>
                <ul class="list-group list-group-flush">
                    <a class="btn btn-dark btn-sm mt-1 mb-2" href="{% url 'profile' %}">Dashboard</a>
                    <a class="btn btn-dark btn-sm mt-1 mb-2" href="{% url 'journal' %}">All Journals</a>
                    <a class="btn btn-dark btn-sm mt-1 mb-2" href="{% url 'mood' %}">Mood Tracker</a>
                    <form method="post" action="{% url 'logout' %}" class="d-grid gap-2">
                      {% csrf_token %}
                      <button class="btn btn-dark btn-sm mt-1 mb-2" type="submit">Sign out</button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>

<h1 class="text-lg lg:text-xl xl:text-2xl w-full
 overflow-hidden text-ellipsis
 whitespace-nowrap mb-5" style="margin-left: 10px">
    <span class="pl-3 lg:pl-0 sm:pl-0">Mood,</span>&nbsp;
    <span class="font-semibold">History</span>
</h1>

<div class="row">
    <div class="col-8">
        <div class="card text-center mb-5 mt-1 shadow bg-light">
            <div class="card-body">
                {{barchart|safe}}
            </div>
        </div>
    </div>
<div/>


{% endblock content %}